spring:
  profiles:
   active:
    - dev
    
---
server:
  port: 8001
spring:
  profiles: dev
  application:
    name: microservicecloud-config-dept-client
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cloudDB03?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
    username: root
    password: 
    dbcp2:
      min-idle: 5
      initial-size: 5
      max-total: 5
      max-wait-millis: 200
mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml
  type-aliases-package: com.atguigu.springcloud.entities
  mapper-locations: 
  - classpath:mybatis/mapper/**/*.xml
  
eureka:
  client:
    service-url: #将客户端注册进Eureka服务列表内
      #defaultZone: http://localhost:7001/eureka
       defaultZone: http://eureka7001.com:7001/eureka/
  instance:
    instance-id: dept8001.com #自定义服务名称信息
    prefer-ip-address: true #访问路径可以显示IP地址
    
info:
  app.name: atguigu-microservicecloud-springcloudonfig01
  company.name: www.atguigu.com
  build.articfactId: $project.artifactId$
  build.version: $project.version$
--- 
server:
  port: 8001
spring:
  profiles: test
  application:
    name: microservicecloud-config-dept-client
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cloudDB02?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
    username: root
    password: 
    dbcp2:
      min-idle: 5
      initial-size: 5
      max-total: 5
      max-wait-millis: 200
mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml
  type-aliases-package: com.atguigu.springcloud.entities
  mapper-locations: 
  - classpath:mybatis/mapper/**/*.xml
  
eureka:
  client:
    service-url: #将客户端注册进Eureka服务列表内
      #defaultZone: http://localhost:7001/eureka
       defaultZone: http://eureka7001.com:7001/eureka/
  instance:
    instance-id: dept8001.com #自定义服务名称信息
    prefer-ip-address: true #访问路径可以显示IP地址
    
info:
  app.name: atguigu-microservicecloud-springcloudonfig01
  company.name: www.atguigu.com
  build.articfactId: $project.artifactId$
  build.version: $project.version$
  